.cardWrapper {
  height: 60%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: space-around;
  padding: 0 200px;
}

.card :hover {
  cursor: pointer;
  color: rgb(0, 146, 255);
}

.description {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 18px;
}
