.cardWrapper {
  box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%), 0 5px 12px 4px rgb(0 0 0 / 9%);
  outline: none;
  border: none;
  border-radius: 40px;
}

.inputFix {
  input {
    margin-top: 1px;
  }
  & > span > span {
    border-radius: 40px;
  }
}
