.cardWrapper {
  display: flex;
  z-index: 3;
  height: 44px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: 638px;
  width: auto;
  max-width: 584px;
  & > div {
    padding: 1px 12px 0;
  }
  &:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
  }
}

.inputFix {
  input {
    margin-top: 1px;
  }
  & > span > span {
    border-radius: 40px;
  }
}
